.home-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.recipe-card {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.recipe-card h3 {
  margin-top: 0;
}

.recipe-card img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
