/* Search Container */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Search Form */
.search-form {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Search Input */
.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex-grow: 1;
  margin-right: 10px;
  transition: border-color 0.3s ease-in-out;
}

.search-input:focus {
  border-color: #007bff;
}

/* Buttons (Search, Clear, Back) */
.search-button,
.clear-button,
.back-button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
  background-color: transparent;
}

/* Search Button */
.search-button {
  background-color: #464749;
  margin-left: 10px;
}

/* Clear and Back Buttons */
.clear-button,
.back-button {
  display: inline-block;
  margin: 10px;
  background-color: #464749;
}

/* Disabled Buttons */
.search-button:disabled,
.clear-button:disabled,
.back-button:disabled {
  cursor: not-allowed;
}

/* Button Hover Effect */
.search-button:hover,
.clear-button:hover,
.back-button:hover {
  background-color: #0056b3;
}

/* Messages (Loading and Error) */
.loading-message,
.error-message {
  font-size: 18px;
  margin-bottom: 20px;
  color: red;
}

/* Recipe Card */
.recipe-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.recipe-card:hover {
  transform: translateY(-5px);
}

/* Instructions Button */
.instructions-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.instructions-button:hover {
  background-color: #0056b3;
}

/* Recipe Card Title */
.recipe-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Recipe Card Image */
.recipe-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Instructions Container */
.instructions-container {
  margin-top: 10px;
}

/* Instructions Title */
.instructions-title {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Instructions List */
.instructions-list {
  list-style-type: decimal;
  margin: 0;
  padding: 0;
}

/* Instructions List Item */
.instructions-list li {
  margin-bottom: 5px;
}
